.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;

  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.show {
  background-color: transparent;
  border: 3px solid #326a9d;
  border-radius: 5px;
  width: 120px;
  text-align: center;
  padding: 8px;
}
li {
  margin-bottom: 10px;
  border: 2px solid #64748b;
  padding: 20px;
  border-radius: 10px;
}
.head {
  color: #326a9d;
  font-size: 30px;
}
.desc {
  color: #64748b;
  font-size: 15px;
}
